@use '../../../../styles/variables' as v;

.example-table-container {
  position: relative;
  min-height: 200px;
  height: 80vh;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-wrap {
  position: relative;
}

.onError {
  color: v.$error-text-color;
}

.submit-area {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  gap: 10px;
}

.submit-text-area {
  display: flex;
  align-items: center;
  min-height: 25px;
}

.submit-text {
  margin-right: 10px;
  margin-left: 10px;
}
