<app-header>
  <nav class="nav">
    <a mat-raised-button routerLink="../main">Карта сайтов</a>
  </nav>
</app-header>
<div class="form-wrap">
  <form [formGroup]="formService.form" (input)="formService.resetSubmitText()"
    (ngSubmit)="onSubmit()">

    <h2>Вход</h2>

    <mat-form-field class="mat-input">
      <mat-label>Логин</mat-label>
      <input type="text" formControlName="login" required matInput>
    </mat-form-field>

    <mat-form-field class="mat-input">
      <mat-label>Пароль</mat-label>
      <input type="password" formControlName="password" required matInput>
    </mat-form-field>

    <p submitText [error]="formService.submitErrorText" class="submit-text">
    </p>
    <div class="submit-area">
      <button type="submit" [disabled]="formService.isSubmitDisabled()"
        mat-raised-button color="primary">Войти</button>

    </div>
  </form>
</div>