.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map {
  padding: 15px;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  & h2 {
    margin-bottom: 20px;
  }
}

.link-back {
  position: absolute;
  top: 15px;
  right: 15px;
  align-self: start;
}

.form-item {
  display: block;
}

.submit-area {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.error-text {
  font-size: 12px;
}

.red {
  color: #f44336;
}

.green {
  color: green;
}
