.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map {
  padding: 15px;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  & h2 {
    margin-bottom: 20px;
  }
}

.link-back {
  position: absolute;
  top: 15px;
  right: 15px;
  align-self: start;
}

.form-item {
  display: block;

  & option {
    text-align: center;
  }
}

.cross-validation-error {
  border-left: 5px solid red;
}

.submit-area {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.submit {
}

.error-text {
  font-size: 12px;
}

.red {
  color: red;
}

.green {
  color: green;
}
