.panel {
  z-index: 1001;
  position: absolute;
  top: -23px;
  right: 0;
  display: flex;
  gap: 2px;
}

.svg {
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.4;
  }
}

.fullscreen {
  top: 5px;
  right: 20px;
}
