<mat-checkbox [(ngModel)]="differenceOnly" class="checkbox"
  (change)="refreshForm()">Только различия</mat-checkbox>

<form class="form" *ngIf="form && aliases" [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <button class="submit-button" type="submit"
    mat-raised-button>загрузить</button>

  <ng-container formArrayName="aliases">

    <ng-container *ngFor="let control of aliasesControls; let i = index"
      [formGroupName]="i.toString()">
      <div class="city" [formGroup]="control">
        <mat-form-field class="mat-input">
          <mat-label>{{control.get('alias').value}}</mat-label>
          <input type="text" formControlName="city" required matInput />
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
</form>