@use '../../../../styles/variables' as v;

:host {
  column-count: 5;
  max-height: v.$city-select-height;
  overflow: auto;
}

.char-wrap {
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  page-break-inside: avoid;
}

.char {
  font-weight: bold;
  color: #000;
  font-size: 20px;
  padding: 16px 0 0 16px;
}
