.context-menu {
  position: absolute;
  border: 1px solid gray;
  background-color: #fff;
  z-index: 1000;
}

.item-text {
  white-space: nowrap;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: #5f9ba4;
  }
}
