<div class="wrap">

  <h2>Загрузка тарифов</h2>
  <form class="form" [formGroup]="formService.form" (ngSubmit)="onSubmit()">

    <button class="file-input" type="button" mat-raised-button
      (click)="fileInput.click()">Выбрать
      файл</button>
    <input formControlName="file" (change)="formService.onFileSelected($event)"
      hidden #fileInput type="file">
    <span class="file-name">{{formService.selectedFile?.name}}</span>

    <mat-form-field>
      <mat-label>Выбрать загрузчик</mat-label>
      <mat-select formControlName="loader" required>
        <mat-option *ngFor="let loader of loaders" [value]="loader">
          {{loader}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p class="submit-text">{{submitText}}</p>

    <button [disabled]="formService.form.invalid" type="submit"
      mat-raised-button color="primary">загрузить</button>

  </form>

</div>