<span class="search-button" (click)="openSearch()">
  <svg-location svgBase [color]="'#fff'" [size]="20"></svg-location>
  <p>{{selectedCity?.name || 'Город не выбран'}}</p>
</span>

<popup [isOpen]="isOpen" [cssClass]="'select-city'" (closePopup)="onClose()">


  <mat-form-field class="mat-input">
    <mat-label>Поиск города</mat-label>
    <input (input)="onChange($event)" type="search" matInput>
  </mat-form-field>


  <div class="cities">
    <button *ngFor="let city of displayedCities"
      (click)="selectCity(city)">{{city.name}}</button>
  </div>

</popup>