.search-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 10px 0 0;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.4;
  }

  & p {
    margin: 0;
  }
}
