<div class="wrap">

  <h2>Загрузка тарифов</h2>
  <form class="form" [formGroup]="formService.form" (change)="submitTextService.reset()"
    (ngSubmit)="onSubmit()">

    <button class="file-input" type="button" mat-raised-button (click)="fileInput.click()">Выбрать
      файл</button>
    <input formControlName="file" (change)="onFileSelected($event)" hidden #fileInput type="file">
    <p class="file-name">
      <span>{{selectedFile?.name}}</span>
    </p>

    <mat-form-field>
      <mat-label>Выбрать загрузчик</mat-label>
      <mat-select (selectionChange)="submitTextService.reset()" formControlName="loader" required>
        <mat-option *ngFor="let loader of loaders" [value]="loader">
          {{loader}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <span submitTextDirective [text]="submitTextService.getText"
        [onError]="submitTextService.getOnError" class="submit-text"></span>

      <!-- <svg-done *ngIf="!isSubmitOnError && submitText"
        [color]="'#019f01'"></svg-done> -->

    </div>

    <button [disabled]="formService.isSubmitDisabled()" type="submit" mat-raised-button
      color="primary">загрузить</button>

  </form>

</div>