<div class="wrap">

  <h2>Загрузка тарифов</h2>
  <form class="form" [formGroup]="formService.form" (change)="onChange()"
    (ngSubmit)="onSubmit()">

    <button class="file-input" type="button" mat-raised-button
      (click)="fileInput.click()">Выбрать
      файл</button>
    <input formControlName="file" (change)="formService.onFileSelected($event)"
      hidden #fileInput type="file">
    <p class="file-name">
      <span>{{formService.selectedFile?.name}}</span>
    </p>

    <mat-form-field>
      <mat-label>Выбрать загрузчик</mat-label>
      <mat-select (selectionChange)="onChange()" formControlName="loader"
        required>
        <mat-option *ngFor="let loader of loaders" [value]="loader">
          {{loader}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <span [class.onError]="isSubmitOnError"
        class="submit-text">{{submitText}}</span>

      <svg *ngIf="!isSubmitOnError && submitText"
        xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
        width="24">
        <path fill="#019f01"
          d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
      </svg>
    </div>

    <button [disabled]="formService.form.invalid" type="submit"
      mat-raised-button color="primary">загрузить</button>

  </form>

</div>