@use '../../../../styles/variables' as v;
@use '../../../../styles/extends';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 370px;
  padding: 15px;
  background-color: v.$white-background-color;
  & h2 {
    margin-bottom: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.map {
  @extend %left-side-bar;
  @extend %stretched-column;

  & h2 {
    margin-bottom: 20px;
  }
}

.submit-area {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.submit-text-area {
  display: flex;
  align-items: center;
  min-height: 25px;
}

.submit-text {
  margin-right: 10px;
}

.file-input {
  width: 200px;
}

.file-name {
  min-height: 20px;
  margin: 10px 0 20px 10px;
}

.onError {
  color: v.$error-text-color;
}
