<button type="button" *ngIf="isRootNode" mat-button [matMenuTriggerFor]="menu">
  {{ trigger }}
</button>
<button (click)="dirHandler(trigger)" type="button" *ngIf="!isRootNode"
  mat-menu-item [matMenuTriggerFor]="menu" (menuOpened)="getData(trigger)">
  {{ trigger }}
</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let node of data">
    <button type="button" mat-menu-item style="padding: 0;">
      <layouts-tree [dataMap]="dataMap" [result]="result" [trigger]="node"
        *ngIf="isExpandable(node); else menuItem"></layouts-tree>
    </button>
    <ng-template #menuItem>
      <button (click)="emitResult(node)" type="button" mat-menu-item>{{ node
        }}</button>
    </ng-template>
  </ng-container>
</mat-menu>