%map {
  padding: 5px 5px 5px 10px;
  background-color: #d5d5d5;
  flex: 1;
  display: flex;
  flex-direction: column;
}

%map-item {
  width: min-content;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%map-item-text {
  max-width: 100%;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s;
  &:hover {
    border-color: #927b74;
  }
}

%checkbox-size {
  width: 15px;
  height: 15px;
}

%map-item-checkbox {
  cursor: pointer;
  position: relative;

  @extend %checkbox-size;

  & input {
    cursor: pointer;
    position: absolute;
    appearance: none;
    border: none;
    border: 2px solid #927b74;
    border-bottom-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg) translate(0);
    transform: rotate(45deg) translate(0);
    transform-origin: 60% 35%;
    top: 1px;
    left: 0;
    width: 7px;
    height: 7px;
    transition: transform 0.3s;

    &:checked {
      -webkit-transform: rotate(135deg) translate(0);
      transform: rotate(135deg) translate(0);
    }
  }
}
