<div class="wrap">
  <div class="map">
    <h2>{{menuTitle}}</h2>
    <form [formGroup]="formService.editPagesForm" (ngSubmit)="onSubmit()"
      class="form">

      <p>{{displayInfo}}</p>

      <mat-form-field class="mat-input">
        <mat-label>Display text</mat-label>
        <input type="text" formControlName="displayText" required matInput>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>URL</mat-label>
        <input type="text" formControlName="url" required matInput>
      </mat-form-field>

      <mat-form-field
        [hideRequiredMarker]="formService.hideRequiredControl.value"
        class="mat-input">
        <mat-label>Title</mat-label>
        <input type="text" formControlName="title" matInput>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>Layout</mat-label>
        <input type="text" (focus)="formService.onFocusLayout()"
          (blur)="formService.onBlurLayout()" formControlName="layout" required
          matInput>
      </mat-form-field>

      <layouts-tree [dataMap]="dataMap" [result]="''"
        [trigger]="'Выбрать layout'" [data]="initialLayouts"
        [isRootNode]="true"></layouts-tree>

      <mat-checkbox formControlName="checkbox">Checkbox</mat-checkbox>

      <p [ngClass]="[submitText.color]" class="error-text">
        {{submitText.text}}
      </p>
      <div class="submit-area">
        <button type="submit"
          [disabled]="!formService.editPagesForm.dirty || formService.editPagesForm.invalid"
          mat-raised-button color="primary">{{submitButtonText}}</button>

        <button type="button" (click)="formService.onReset()" mat-raised-button
          color="primary">Обнулить форму</button>

      </div>

    </form>

    <a class="link-back" mat-raised-button color="accent" routerLink="/">←
      Карта</a>


  </div>
</div>