<div class="map-item" (contextmenu)="onRightClickHandler()">
  <div class="checkbox-wrap">
    <label *ngIf="!page || page.childsCount" class="checkbox">
      <input type="checkbox" (change)="toggleItem($event)" />
    </label>
  </div>

  <context-menu (click)="getPagesUrl()"
    [buttonText]="page?.displayText || site.domain">
    <a routerLink="/main/add-page" mat-menu-item>Добавить страницу</a>
    <a *ngIf="page; else selectCity" routerLink="/main/update-page"
      mat-menu-item>Редактировать</a>
  </context-menu>

  <ng-template #selectCity>
    <button mat-menu-item>Выбрать город</button>
  </ng-template>

</div>

<div *ngIf="subItems.length" class="map">
  <sites-map-item *ngFor="let page of subItems" [site]="site" [page]="page">
  </sites-map-item>
</div>