<div class="map-item" (contextmenu)="onRightClickHandler()">
  <div class="checkbox-wrap">
    <label *ngIf="!page || page.childsCount" class="checkbox">
      <input type="checkbox" [(ngModel)]="isOpen" />
    </label>
  </div>

  <context-menu (click)="getPagesUrl()" [buttonText]="page?.displayText || site.domain">
    <a routerLink="/main/add-page" mat-menu-item>Добавить страницу</a>
    <a *ngIf="page; else siteItems" routerLink="/main/update-page" mat-menu-item>Редактировать</a>
  </context-menu>

  <ng-template #siteItems>
    <site-context-menu-items [providerIds]="site.providers"></site-context-menu-items>
  </ng-template>
</div>

<div *ngIf="isOpen" class="map">
  <sites-map-item *ngFor="let page of subItems" [site]="site" [page]="page"> </sites-map-item>
</div>
