.map {
  padding: 1px 0 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-item {
  width: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  position: relative;
  display: block;
  width: 15px;
  height: 15px;

  & input {
    cursor: pointer;
    position: absolute;
    appearance: none;
    border: none;
    border: 2px solid #927b74;
    border-bottom-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg) translate(0);
    transform: rotate(45deg) translate(0);
    transform-origin: 60% 35%;
    top: 2px;
    left: 0;
    width: 7px;
    height: 7px;
    transition: transform 0.3s;

    &:checked {
      -webkit-transform: rotate(135deg) translate(0);
      transform: rotate(135deg) translate(0);
    }
  }
}
