.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map {
  padding: 15px;
  background-color: #d5d5d5;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.link-back {
  margin-top: 50px;
  color: #187b96;
  padding: 5px 8px;
  border: 1px solid gray;
  align-self: start;
}

.menu-item option {
  text-align: center;
}
