<div class="wrap">
  <div class="map">
    <h2>Новая страница</h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="form">
      <label class="form-item">
        <p class="form-item-text">Display text</p>

        <input id="displayText" name="displayText" class="form-control" required
          type="text" formControlName="displayText" />

      </label>
      <label class="form-item">
        <p class="form-item-text">URL</p>

        <input type="text" formControlName="url" required />

      </label>
      <label class="form-item">
        <p class="form-item-text">Title</p>

        <input type="text" formControlName="title" required />

      </label>
      <label class="form-item">
        <p class="form-item-text">Layout</p>

        <select formControlName="layout" required>
          <option value="" disabled>-- выбрать Layout --</option>

          <option *ngFor="let layout of layouts$" [ngValue]="layout">{{layout}}
          </option>

        </select>
      </label>

      <button [disabled]="createPageForm.invalid" class="submit" type="submit">
        Создать
      </button>
    </form>

    <p>parent: {{parentPageData$?.displayText}}</p>

    <a class="link-back" routerLink="/">← Карта</a>
  </div>
</div>