<div class="wrap">
  <div class="map">
    <h2>Новая страница</h2>
    <form [formGroup]="formService.createPageForm" (ngSubmit)="onSubmit()"
      class="form">

      <label class="form-item">
        <p class="form-item-text">Display text</p>

        <input
          [class.cross-validation-error]="formService.onValidate('displayText')"
          type="text" formControlName="displayText" required />

      </label>
      <label class="form-item">
        <p class="form-item-text">URL</p>

        <input [class.cross-validation-error]="formService.onValidate('url')"
          type="text" formControlName="url" required />

      </label>
      <label class="form-item">
        <p class="form-item-text">Title</p>

        <input type="text" formControlName="title" required />

      </label>
      <label class="form-item">
        <p class="form-item-text">Layout</p>

        <select
          [class.cross-validation-error]="formService.onValidate('layout')"
          formControlName="layout" required>
          <option value="default" disabled>-- выбрать Layout --</option>

          <option *ngFor="let layout of layouts$" [ngValue]="layout">{{layout}}
          </option>

        </select>
      </label>

      <div class="submit-area">
        <button [disabled]="formService.createPageForm.invalid" class="submit"
          type="submit">
          Создать
        </button>

        <button class="submit" type="button" (click)="formService.onReset()">
          Обнулить форму
        </button>
        <p [ngClass]="[formService.submitText.color]" class="error-text">
          {{formService.submitText.text}}
        </p>

      </div>
    </form>

    <p>parent: {{displayParent()}}</p>

    <a class="link-back" routerLink="/">← Карта</a>
  </div>
</div>