@use '../../../../../../styles/variables' as v;
@use '../../../../../../styles/extends';

.text {
  max-width: 100%;
  padding: 5px;
  @extend %no-wrap-text;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s;
  &:hover {
    border-color: v.$light-red-border-color;
  }
}
