.map-item {
  background-color: #011d97;
  color: #fff;
  min-width: 50px;
  max-width: 160px;
  border: none;
  border-radius: 5px;
  min-height: 20px;
  padding: 3px 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.map {
  padding: 5px 5px 5px 10px;
  background-color: #d5d5d5;
  flex: 1;
  display: flex;
  flex-direction: column;
}
